
.box {
  display: flex;
  background-color: blue;
  width: 100vw;
}
.container_menu {
  border: whitesmoke solid 2px;
  background-color: lightslategray;
  width: 8vw;
}
.container_search {
  list-style: none;
  text-align: center;
  background-color: whitesmoke;
  border: 4px solid blue;
  width:10vw;
  height: 200px;
  background-color: lightslategray;
  z-index: 1;
}
.map {
  width: 92vw;
  height: 90vh;
}
.form-inline {
  /* background-color: green; */
  font-weight: bold;
  padding: 0px;
}
.button_menu {
  width: 100%;
  background-color: red;
}
.mat-panel-title {
  color: black;
}
.mat-expansion-panel {
  background-color: pink;
  background: pink;
  border: 2px solid black;
}
.mat-expansion-header {
  background-color: pink;
  background: pink;
  border: 2px solid black;
}
.p_p_test {
  border-top: red solid 2px;

  /* background-color: brown; */
}
.mat-expansion-panel-body {
  padding: 0 24px 16px;
  background-color: yellow;
}

/* .k-i-edit
.k-i-pencil */
