/* You can add global styles to this file, and also import other style files */
@import "~@progress/kendo-theme-bootstrap/scss/all.scss";
@import "~bootstrap/dist/css/bootstrap.min.css";

body {
  margin: 0;
  font-family: sans-serif;
}

.app-validation-error {
  color: red;
  font-size: 0.75em;
}