.spacer {
  flex: 1 1 auto;
}
/*
.example-container {
  display: flex;
  flex-direction: column;
  width: 55%;
  height: 400px;
  margin: auto;
  border: 2px solid black;
} */
.k-form {
  border: black solid 2px;
  width: 40%;
  margin-left: 30%;
  margin-right: 30;
}
.k-form-field {
  width: 50%;
}

.k-form-field-1 {
  border: black solid 1px;
  width: 50%;
}

.mat-select-value {
  color: red;
}
/*
.example-container > * {
  width: 100%;
}

.example-container form {
  margin-bottom: 20px;
}

.example-container form > * {
  margin: 5px 0;
}

.example-container .mat-radio-button {
  margin: 0 12px;
}
.loginpage_div_button {
  width: 100%;
  background: red;
}
.loginpage_button_submit {
  background: black;
  color: aliceblue;
  height: 50px;
  width: 35%;
}

.loginpage_button_regrister {
  background: lightblue;
  width: 35%;
  height: 50px;
  margin-left: 30%;
} */





