.drawmenu{
  position: absolute;
  right: 1%;
  z-index: 1;
  margin-right: 15px;
}
.draw-menu{
  background-color: red;
  z-index: 1;
  position: absolute;
}
/* .button:hover
{
  background-color: red;
}
.button:hover #menu
{
  display: block;
  background-color: royalblue;
} */
