<div class="drawmenu">
 <button><i class="material-icons" title="Select" style="font-size: 10px;" style="color: black;">zoom_out_map</i></button>
 <button><i class="material-icons" title="Transform" style="font-size: 10px;" style="color: black;">tab_unselected</i></button>
 <button><i class="material-icons" title="Polygon" style="font-size: 10px;" style="color: black;">edit</i></button>
 <button><i class="material-icons" title="Color" style="font-size: 10px;" style="color: black;">color_lens</i></button>
 <button><i class="material-icons" title="undo & redo" style="font-size: 10px;" style="color: black;">undo</i></button>
</div>
