
.container
{
background-color: burlywood;
display: flex;
position: absolute;
left: 22%;
top: 2%;
}
.formpje
{
position: absolute;
display: contents;
}
.option
{
height: 41px;
border: black 2px solid;
}

