<button kendoButton *ngIf="!opened" (click)="open()">Color Schema</button>
<button kendoButton *ngIf="!opened1" (click)="open1()">Undo & Redo actie's</button>


<kendo-dialog title="Color Schema" *ngIf="opened" (close)="close()">
 <div>
  <form class="form-inline"  style="background-color: white;">
   <select id="type" [formControl]="typeSelectDialogStyle" (change)="styleswitchDialog()" >
    <option value="blue" title="Point" style="color: blue; background-color: blue;">blue</option>
    <option value="green" title="LineString" style="color: green; background-color: green;">green</option>
    <option value="red" title="Polygon" style="color: red; background-color: red;">red</option>
   </select>
  </form>
 </div>
 <kendo-dialog-actions>
  <button kendoButton (click)="close()" [primary]="false">Cancel</button>
  <button kendoButton (click)="submit()" [primary]="true">Submit</button>
 </kendo-dialog-actions>
</kendo-dialog>




<kendo-dialog title="Actions" *ngIf="opened1" (close)="close1()">
  <div>
    <table border="1px">
      <tr style="border: red 5px solid;"><th>Redo</th><th>Undo</th></tr>
      <tr><td>Links 1</td><td>Rechts 1</td></tr>
      <tr><td>Links 2</td><td>Rechts 2</td></tr>
      <tr><td>Links 3</td><td>Rechts 3</td></tr>
      <tr><td>Links 4</td><td>Rechts 4</td></tr>

    </table>
  </div>
</kendo-dialog>




