@media only screen and (min-width: 600px)
{
.map
{
 width: 100vw;
 height: 100vh;
 padding: 0px;
 margin: 0px;

}
}
@media only screen and (min-width: 950px)
{
.map
{
 width: 90vw;
 height: 98vh;
 margin: auto;
 border-radius: 35px;
 /* overflow: hidden;
 border-top: 50px solid #555;
 border-left: 25px solid transparent;
 border-right: 25px solid transparent;
 height: 0;
 width: 125px; */
}
.menu
{
display: flex;
flex-direction: column;
position: absolute;
top: 10px;;
left: 10px;
width: 50px;
height: calc(100vh - 20px);
background-color: white;
opacity: 1;
box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
border-radius: 5px;
}
#app-toolbar-function{
  display: flex;
  flex-direction: column;

  position: absolute;
  top: 10px;;
  left: 10px;

  width: 50px;
  height: calc(100vh - 20px);

  background-color: white;
  opacity: 1;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  border-radius: 5px;

}


.options-menu {
 background-color: red;
 width: 0%;
 background-color: aqua;
 display: contents;
}

.test2{
  background-color: powderblue;
  display: flex;
}
.menumenu{
  background: white;
  width: 100%;
}
.panel {
  border-bottom: black 2px solid;
  box-shadow: tomato 4px ;
  width: 100%;
}

.searchmenu {
  width: 300%;
}
.container-geocoder {
  background-color: white;
}
.tweebuttons{
  display: grid;
  width: 100%;
}
.driebuttons{
  display: grid;
  width: 100%;
}
.toolbarmenu{
  display: absolute;
}
.test{
  display: flex;
}
.radiogroup{
  width: 100%;
}
.color_button_blue{
  background-color: blue;
  color: blue;
}
.color_button_red{
  background-color: red;
  color: red;
}
.color_button_green{
  background-color: green;
  color: green;
}
.k-button {
  border-radius: 0.25rem;
  padding: 0.375rem 0.75rem;
  box-sizing: border-box;
  border-width: 1px;
  border-style: solid;
  font-size: 1rem;
  line-height: 1.5;
  font-family: inherit;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  outline: none;
  -webkit-appearance: none;
  position: relative;
}
.k-scheduler-footer li, .k-scheduler-views li, .k-scheduler-navigation .k-nav-today, .k-scheduler-navigation .k-nav-prev, .k-scheduler-navigation .k-nav-next, .k-task-single, .k-gantt-views li, .k-map .k-navigator, .k-handle, .k-numerictextbox .k-select, .k-editor-toolbar a.k-tool, .k-dropdowntree .k-dropdown-wrap, .k-pivot-toolbar .k-button, .k-fieldselector .k-list li.k-item, .k-spreadsheet-filter, .k-grouping-header .k-group-indicator, .k-list-container .k-nodata .k-button, .k-button-group.k-state-disabled .k-button:not(.k-state-active), .k-button-group .k-button.k-state-disabled:not(.k-state-active), .k-button {
  /* border-color: #e4e7eb; */
  color: #212529;
  /* background-color: whitesmoke; */
}
k-content k-window-content ng-star-inserted
{
  background-color: beige;
}
.kendocontent
{
  /* background-color: beige; */
  z-index: 150;
  margin: -16px;
}
.table
{
  background-color: #f1f1f1;
  width: 100%;
}
.ol-tooltip {
  position: relative;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  color: white;
  padding: 4px 8px;
  opacity: 0.7;
  white-space: nowrap;
  font-size: 12px;
  background-color: red;
}
.ol-tooltip-measure {
  opacity: 1;
  font-weight: bold;
  background-color: red;
}
.ol-tooltip-static {
  background-color: #321dee;
  color: yellow;
  border: 1px solid white;
  background-color: red;
}
.ol-tooltip-measure:before,
.ol-tooltip-static:before {
  border-top: 6px solid rgba(0, 0, 0, 0.5);
  border-right: 6px solid transparent;
  border-left: 6px solid transparent;
  content: "";
  position: absolute;
  bottom: -6px;
  margin-left: -7px;
  left: 50%;
  background-color: red;
}
.ol-tooltip-static:before {
  border-top-color: #ffcc33;
  background-color: red;
}


}
