.map {
  width: 80vw;
  height: 80vh;
}

.options-menu {
 background-color: red;
 width: 0%;
}
.menu {
  background-color: pink;
  width: 10%;
}
.test {
  background-color: red;
  display: flex;
}
.test2{
  background-color: powderblue;
  display: flex;
}
.menumenu{
  background: powderblue;
  width: 100%;
}
.panel {
  border-bottom: black 2px solid;
  box-shadow: tomato 4px ;
  width: 100%;
}
.header {
  color: black;
}


