<!-- <app-header></app-header> -->

<div id="map" class="map"></div>

<div #searchmenu class="searchmenu">
    <div class="container-geocoder">
      <div class="geocodergeocoder"><geocoder class="geocoder" (placeFound)="onPlaceFound($event)"></geocoder></div>
    </div>
  </div>

  <div #layerControlElement class="option-menu" style="background-color: aqua;" style="display: contents;">
   <div #menu class="menu">
    <div class="test">
     <button (click)="toggle1()"><i class="k-icon k-i-globe-outline" style="font-size: 10px;" style="color: black;"></i></button>

            <mat-accordion *ngIf="show1">  <!-- DIT IS HET BEGIN VAN DE ACCORDION VOOR ALLE LAGEN -->
              <mat-expansion-panel class="menumenu">
                 <mat-expansion-panel-header class="">
                <mat-panel-title>Lagen</mat-panel-title>
               </mat-expansion-panel-header>
              <mat-panel-description>

                <!-- DIT IS HET BEGIN VAN DE DROPDOWNMENU VOOR DE LAGEN -->
               <mat-accordion>
                <mat-expansion-panel class="panel1">
                 <mat-expansion-panel-header class="header">
                  <mat-panel-title class="paneltitleclass">Kaarten
                   <i class="k-icon k-i-pencil" style="font-size: 10px;" style="color: black;"></i>
                  </mat-panel-title>
                 </mat-expansion-panel-header>
                  <div class="paneldiv">
                   <button kendoButton id="test" *ngFor="let layer of getLayerGroupKaart()"
                    (click)="layer.setVisible(!layer.getVisible())"
                    [primary]="layer.getVisible()">
                    {{layer.get('title')}}
                   </button>
                  </div>
                </mat-expansion-panel>
               </mat-accordion><!-- DIT IS HET EINDE VAN DE DROPDOWNMENU VOOR DE LAGEN -->
              </mat-panel-description>

              <mat-panel-description><!-- DIT IS HET BEGIN VAN DE DROPDOWNMENU VOOR DE LAGEN -->
                <mat-accordion>
                 <mat-expansion-panel class="panel1">
                  <mat-expansion-panel-header class="header">
                   <mat-panel-title class="paneltitleclass">Grenzen
                    <i class="k-icon k-i-pencil" style="font-size: 10px;" style="color: black;"></i>
                   </mat-panel-title>
                  </mat-expansion-panel-header>
                   <div class="paneldiv">
                    <button kendoButton id="test" *ngFor="let layer of getLayerGroupGrenzen()"
                     (click)="layer.setVisible(!layer.getVisible())"
                     [primary]="layer.getVisible()">
                     {{layer.get('title')}}
                    </button>
                   </div>
                 </mat-expansion-panel>
                </mat-accordion>
                <!-- DIT IS HET EINDE VAN DE DROPDOWNMENU VOOR DE LAGEN -->
               </mat-panel-description>
               <mat-panel-description>
                   <!-- DIT IS HET BEGIN VAN DE DROPDOWNMENU VOOR DE LAGEN -->
                  <mat-accordion>
                   <mat-expansion-panel class="panel1">
                    <mat-expansion-panel-header class="header">
                     <mat-panel-title class="paneltitleclass">Spoorwegen
                      <i class="k-icon k-i-pencil" style="font-size: 10px;" style="color: black;"></i>
                     </mat-panel-title>
                    </mat-expansion-panel-header>
                     <div class="paneldiv">
                      <button kendoButton id="test" *ngFor="let layer of getLayerGroupSpoorwegen()"
                       (click)="layer.setVisible(!layer.getVisible())"
                       [primary]="layer.getVisible()">
                       {{layer.get('title')}}
                      </button>
                     </div>
                   </mat-expansion-panel>
                  </mat-accordion>
                  <!-- DIT IS HET EINDE VAN DE DROPDOWNMENU VOOR DE LAGEN -->
                 </mat-panel-description>

                 <mat-panel-description>
                     <!-- DIT IS HET BEGIN VAN DE DROPDOWNMENU VOOR DE LAGEN -->
                    <mat-accordion>
                     <mat-expansion-panel class="panel1">
                      <mat-expansion-panel-header class="header">
                       <mat-panel-title class="paneltitleclass">Bag
                        <i class="k-icon k-i-pencil" style="font-size: 10px;" style="color: black;"></i>
                       </mat-panel-title>
                      </mat-expansion-panel-header>
                       <div class="paneldiv">
                        <button kendoButton id="test" *ngFor="let layer of getLayerGroupBag()"
                         (click)="layer.setVisible(!layer.getVisible())"
                         [primary]="layer.getVisible()">
                         {{layer.get('title')}}
                        </button>
                       </div>
                     </mat-expansion-panel>
                    </mat-accordion>
                    <!-- DIT IS HET EINDE VAN DE DROPDOWNMENU VOOR DE LAGEN -->
                   </mat-panel-description>

                   <mat-panel-description>
                    <!-- DIT IS HET BEGIN VAN DE DROPDOWNMENU VOOR DE LAGEN -->
                   <mat-accordion>
                    <mat-expansion-panel class="panel1">
                     <mat-expansion-panel-header class="header">
                      <mat-panel-title class="paneltitleclass">OverigeDiensten
                       <i class="k-icon k-i-pencil" style="font-size: 10px;" style="color: black;"></i>
                      </mat-panel-title>
                     </mat-expansion-panel-header>
                      <div class="paneldiv">
                       <button kendoButton id="test" *ngFor="let layer of getLayerGroupOverigeDiensten()"
                        (click)="layer.setVisible(!layer.getVisible())"
                        [primary]="layer.getVisible()">
                        {{layer.get('title')}}
                       </button>
                      </div>
                    </mat-expansion-panel>
                   </mat-accordion>
                   <!-- DIT IS HET EINDE VAN DE DROPDOWNMENU VOOR DE LAGEN -->
                  </mat-panel-description>
              </mat-expansion-panel>
             </mat-accordion>  <!-- DIT IS HET BEGIN VAN DE ACCORDION VOOR ALLE LAGEN -->
        </div>
        <div class="test">
                <button (click)="toggle2()"><i class="k-icon k-i-pencil" style="font-size: 10px;" style="color: black;"></i></button>
                <mat-accordion *ngIf="show2"><!-- BEGIN ACCORDION -->
                  <mat-expansion-panel class="menumenu">
                       <mat-expansion-panel-header class="">
                      <mat-panel-title>Tekenen
                      <i class="k-icon k-i-pencil" style="font-size: 10px;" style="color: black;" style="margin-left: 5px;"></i>
                      </mat-panel-title>
                    </mat-expansion-panel-header>
                    <mat-panel-description><!-- BEGIN DESCRIPTION -->
                        <form class="form-inline">
                            <label> &nbsp;</label>
                            <select id="type" [formControl]="typeSelectTekenen" (change)="switchMode()">
                              <option value="Point">Point</option>
                              <option value="LineString">LineString</option>
                              <option value="Polygon">Polygon</option>
                              <option value="Circle">Circle</option>
                              <option value="">Select</option>
                            </select>
                          </form>
                    </mat-panel-description><!-- EINDE DESCRIPTION -->

                    <mat-panel-description><!-- BEGIN DESCRIPTION -->
                      <form class="form-inline">
                          <label> &nbsp;</label>
                          <mat-radio-group aria-label="Select an option" (click)="modifyfunctionselect()">
                            <mat-checkbox value="1">TODO: Modify</mat-checkbox>
                          </mat-radio-group>
                        </form>
                  </mat-panel-description><!-- EINDE DESCRIPTION -->

                  </mat-expansion-panel>
                </mat-accordion><!-- EINDE ACCORDION -->
            </div>

            <div class="test">
                <button (click)="toggle3()"><i class="k-icon k-i-filter" style="font-size: 10px;" style="color: black;"></i></button>
               <div *ngIf="show3">
                 TODO: FILTER
               </div>
            </div>

            <div class="test">
                <button kendobutton value="reset" (click)="toggle4()"  class="buttonbutton"><i class="k-icon k-i-reset" style="font-size: 10px;" style="color: black;"></i></button>
                 <div *ngIf="show4">TODO: UNDO/REDO</div>
            </div>

            <div class="test">
                <button (click)="toggle5()"><i class="k-icon k-i-preview" style="font-size: 10px;" style="color: black;"></i></button>
               <div *ngIf="show5">TODO: Alles uit of alles aan</div>
            </div>

            <div class="test">
                <button kendobutton value="reset" (click)="toggle6()"  class="buttonbutton"><i class="k-icon k-i-marker-pin" style="font-size: 10px;" style="color: black;"></i></button>
                 <div *ngIf="show6" style="background-color: white;">
                  <label for="track" style="background-color: white;">
                    track position
                    <input id="track" type="checkbox"/>
                  </label>
                 </div>
            </div>
           </div>
          </div>








