.map {
  width: 99vw;
  height: 98vh;
}

.options-menu {
 background-color: red;
 width: 0%;
 background-color: aqua;
 display: contents;
}
.menu {
  background-color: pink;
  width: 0%;
  display: inline-block;
}
.test {
  background-color: red;
  display: flex;
}
.test2{
  background-color: powderblue;
  display: flex;
}
.menumenu{
  background: powderblue;
  width: 100%;
}
.panel {
  border-bottom: black 2px solid;
  box-shadow: tomato 4px ;
  width: 100%;
}
.header {
  color: black;
}
.searchmenu {
  margin-left: 1215px;
  width: 20%;
}
.container-geocoder {
  background-color: white;
}
.klasseh5 {
  font-size: 20px;
  padding: 0px;
  margin: 0px;
}


