@media only screen and (min-width: 600px)
{

.mother{
  width: 20%;
  height: 100px;
  bottom: 4%;
  border-radius: 0 0 4px 4px;
  border-top: 0 solid #ccc!important;
  margin-right: 1%;
  height: 5%;
  min-height: 35px;
  text-align: left;
  color: #212668;
  font-weight: 700;
  position: absolute;
  pointer-events: all;
  right: 1%
}
.titel
{
border-bottom: black solid 2px;
}
.btn-featureinfo.collapsed[_ngcontent-c7]
{
 border-top: 1px solid #ccc!important;
 border-top-left-radius: 4px;
 border-top-right-radius: 4px;
}
button, input, optgroup, select, textarea
{
margin: 0;
font: inherit;
color: inherit;
}
.content {
width: 100%;
color: #fff;
background-color: blue;
border: 1px solid rgba(0,0,0,.05);
}
.content p {
width: 100%;
margin: 0;
}
.anchor
{
height: 150px;
width: 150px;
}
.buttonmat{
width: 56px;
height: 56px;
bottom: 3%;
left: 1%;
font-weight: 700;
position: absolute;
}
.material-icons{
font-size: 25px;
}
.mat-fab .mat-button-wrapper {
padding: 0px;
display: inline-block;
line-height: 24px;
}
}
@media only screen and (min-width: 950px)
{
.mother{
 width: 12%;
 height: 100px;
 bottom: 4%;
 border-radius: 0 0 4px 4px;
 border-top: 0 solid #ccc!important;
 margin-right: 1%;
 height: 5%;
 min-height: 35px;
 text-align: left;
 color: #212668;
 font-weight: 700;
 position: absolute;
 pointer-events: all;
 right: 1%;
}
.btn-featureinfo.collapsed[_ngcontent-c7] {
border-top: 1px solid #ccc!important;
border-top-left-radius: 4px;
border-top-right-radius: 4px;
}
button, input, optgroup, select, textarea {
width: 100%;
margin: 0;
font: inherit;
color: inherit;
}
.content {
width: 100%;
padding:10px;
color: black;
background-color: white;
border: 1px solid rgba(0,0,0,.05);
}
.content p {
width: 100%;
margin: 0;
background: red;
}
.anchor {
/* background-color: rebeccapurple; */
width: 208px;
height: 275px;
}
.buttonmat{
width: 56px;
height: 56px;
bottom: 3%;
left: 1%;
font-weight: 700;
position: absolute;
}
.material-icons{
font-size: 25px;
}
.mat-fab .mat-button-wrapper {
padding: 0px;
display: inline-block;
line-height: 24px;
}
.matborder
{
border-bottom: black solid 1px;
border-left: black solid 1px;
}
.matborderlinks
{
border-right: black 1px solid;
border-bottom: black 1px solid;
}
}
