.mother{
 /* background: white; */
 width: 20%;
 height: 100px;
 bottom: 4%;
 /* background-color: #fff; */
 /* border: 1px solid #ccc!important; */
 border-radius: 0 0 4px 4px;
 border-top: 0 solid #ccc!important;
 /* padding-top: 1%; */
 /* padding-left: 3%; */
 /* padding-bottom: 4%; */
 margin-right: 1%;
 height: 5%;
 min-height: 35px;
 text-align: left;
 color: #212668;
 font-weight: 700;
 position: absolute;
 pointer-events: all;
 right: 1%;
}
.btn-collapse {
  width: 100%;
  height: 100%;
  border: none;
  text-align: left;
  color: #212668;
  font-weight: 700;
}

.btn-featureinfo[_ngcontent-c7] {
  bottom: 4%;
  background-color: #fff;
  border: 1px solid #ccc!important;
  border-radius: 0 0 4px 4px;
  border-top: 0 solid #ccc!important;
  padding-top: 1%;
  padding-left: 3%;
  padding-bottom: 4%;
  margin-right: 4%;
  height: 5%;
  min-height: 35px;
  text-align: left;
  color: #212668;
  font-weight: 700;
  position: absolute;
  pointer-events: all;
}

.btn-featureinfo.collapsed[_ngcontent-c7] {
  border-top: 1px solid #ccc!important;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

button, input, optgroup, select, textarea {
  margin: 0;
  font: inherit;
  color: inherit;
}
