<div class="mother">
  <div>
    <button class="button" (click)="onClick()" #anchor>ObjectInformatie</button>
  </div>
</div>

<kendo-popup
  class="kendopopup"
  style="left: 1377.59px; top: 776.688px;"
  [anchor]="anchor"
  [anchorAlign]="anchorAlign"
  [popupAlign]="popupAlign"
  *ngIf="show"
>
  <div class="anchor content">
    <div class="informatie">
      <h2 class="titel">Informatie</h2>
      <div>
        <mat-grid-list
          cols="2"
          rowHeight="2:1"
          *ngFor="let informatie of ObjectInformatie">
          <mat-grid-tile class="matborderlinks">Naam</mat-grid-tile>
          <mat-grid-tile class="matborder">
            {{informatie.gemeentenaam}} {{informatie.provincienaam}}
            {{informatie.landsnaam}}
          </mat-grid-tile>

          <mat-grid-tile class="matborderlinks">id</mat-grid-tile
          ><mat-grid-tile class="matborder">
            {{informatie.geometry.ol_uid}}
          </mat-grid-tile>

          <mat-grid-tile class="matborderlinks">code</mat-grid-tile
          ><mat-grid-tile class="matborder">{{informatie.code}}</mat-grid-tile>
          <mat-grid-tile class="matborderlinks">
            <img id="legend" [src]="PhotoSource"/>
          </mat-grid-tile>
        </mat-grid-list>
      </div>
    </div>
  </div>
</kendo-popup>

<button mat-fab color="primary" class="buttonmat">
  <i class="material-icons"
    title="Polygon"
    style="color: white;"
    (click)="OpenInfo()"
    >info</i>
</button>
