<app-header></app-header>

<div class="container_container_cc1">

    <div class="style_for_map">
      <div id="map" class="map"></div>
    </div>

    <div class="box_from_container_container_cc1">
      <div class="container_menu">
        <h2>Kies je dingetjes</h2>

        <mat-accordion >
            <mat-expansion-panel class="mat-expansion-panel">
              <mat-expansion-panel-header class="mat-expansion-header">
                <mat-panel-title class="mat-panel-title">Draw
                  <i class="k-icon k-i-pencil" style="font-size: 10px;" style="color: black;"></i>
                </mat-panel-title>
              </mat-expansion-panel-header>
              <form class="form-inline">
                  <label>Tekenen &nbsp;</label>
                  <select id="type" [formControl]="typeSelect" (change)="switchMode()">
                    <option value="Point">Point</option>
                    <option value="LineString">LineString</option>
                    <option value="Polygon">Polygon</option>
                    <option value="Circle">Circle</option>
                    <option value="">None</option>
                  </select>
                </form>
                <h2>ToolTips</h2>
                <mat-checkbox>Kilometers</mat-checkbox><br>
              <mat-checkbox>Miles</mat-checkbox><br>
            </mat-expansion-panel>

            <!-- EINDE EINDE EINDE EINDE EINDE EINDE EINDE EINDE EINDE EINDE EINDE EINDE -->

            <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">

              <mat-expansion-panel-header class="mat-expansion-header {">
                <mat-panel-title>Colors
                  <i class="k-icon k-i-palette" style="font-size: 10px;" style="color: black;"></i>
                </mat-panel-title>
              </mat-expansion-panel-header>

              <form>
                  <h2>Color Line</h2>
                  <select>
                    <option value="">Dark Colors</option>
                    <option value="Dark-Red">Dark Red</option>
                    <option value="Dark-Blue">Dark Blue</option>
                  </select>
                  <select>
                      <option value="lightcolor">Light Color</option>
                      <option value="Dark-Red">Light Red</option>
                      <option value="Dark-Blue">Light Blue</option>
                    </select>
                   <h2>Color fill</h2>
                   <select>
                      <option value="">Dark Colors</option>
                      <option value="Dark-Red">Dark Red</option>
                      <option value="Dark-Blue">Dark Blue</option>
                    </select>
                    <select>
                        <option value="lightcolor">Light Color</option>
                        <option value="Dark-Red">Light Red</option>
                        <option value="Dark-Blue">Light Blue</option>
                      </select>
              </form>
            </mat-expansion-panel>


            <mat-expansion-panel class="mat-expansion-panel">
                <mat-expansion-panel-header class="mat-expansion-header">
                  <mat-panel-title class="mat-panel-title">Layers
                    <i class="k-icon k-i-globe-outline" style="font-size: 10px;" style="color: black;"></i>
                  </mat-panel-title>
                </mat-expansion-panel-header>

                <form class="form-inline">
                    <label>Kaart &nbsp;</label>
                     <select id="type" [formControl]="typeSelectbrt" (change)="switchMapMode()">
                      <option value="brtachtergrondkaart">achtergrondkaart</option>
                      <option value="brtGrijs">brtGrijs</option>
                      <option value="brtPasteel">brtPasteel</option>
                      <option value="brtWater">brtWater</option>
                      <option value="">(dft)achtergrondkaart</option>
                     </select><br><br>
                    <label>Border &nbsp;</label>
                     <select id="type" [formControl]="typeSelectborder" (change)="switchBorderMode()">
                      <option value="landsgrenzen">Landsgrens</option>
                      <option value="gemeenten">Gemeentegrens</option>
                      <option value="provincies">Provinciegrens</option>
                      <option value="">(dft) none</option>
                     </select>
                  </form>

                  <h2>ToolTips</h2>
                  <mat-checkbox>Borders</mat-checkbox><br>
                  <mat-checkbox>Airports</mat-checkbox><br>
                  <mat-checkbox>Boat docks</mat-checkbox><br>
              </mat-expansion-panel>


              <mat-expansion-panel class="mat-expansion-panel">
                  <mat-expansion-panel-header class="mat-expansion-header">
                    <mat-panel-title class="mat-panel-title">Locations
                      <i class="k-icon k-i-marker-pin" style="font-size: 10px;" style="color: black;"></i>
                    </mat-panel-title>
                  </mat-expansion-panel-header>

                  <form class="form-inline">
                      <label> Accessoires &nbsp;</label>
                      <select id="type" [formControl]="typeSelect" (change)="switchLocationMode()">
                        <option value="your_desteny">Your desteny</option>
                        <option value="your_location">Your location</option>
                        <option value="">None</option>
                      </select>
                    </form>

                    <h2>ToolTips</h2>
                    <mat-checkbox value="monuments">Monuments</mat-checkbox><br>
                    <mat-checkbox>Food & Drinks</mat-checkbox><br>
                    <mat-checkbox>Car</mat-checkbox><br>
                    <mat-checkbox>Walking</mat-checkbox><br>
                </mat-expansion-panel>


                <mat-expansion-panel class="mat-expansion-panel">
                    <mat-expansion-panel-header class="mat-expansion-header">
                      <mat-panel-title class="mat-panel-title">Routes
                        <i class="k-icon k-i-marker-pin" style="font-size: 10px;" style="color: black;"></i>
                      </mat-panel-title>
                    </mat-expansion-panel-header>

                    <form class="form-inline">
                        <label>Routes &nbsp;</label>
                        <select id="type" [formControl]="typeSelect" (change)="switchRoutesMode()">
                          <option value="wandelroute">WandelRoute</option>
                          <option value="fietsroute">FietsRoute</option>
                          <option value="snelweg">Snelwegen</option>
                          <option value="spooras">Spoorwegen</option>
                          <option value="busbaan">Busbaan</option>
                          <option value="">deafault</option>
                        </select>
                      </form>

                      <h2>ToolTips</h2>
                      <mat-checkbox>Kilometers</mat-checkbox><br>
                      <mat-checkbox>Miles</mat-checkbox><br>
                      </mat-expansion-panel>

          </mat-accordion><br>

  <!-- ------------------------------------------------------------------------------------------------------------------------------------------------------------------ -->

    <div class="searchbox">
      <form class="form-inline waves-light" mdbWavesEffect>
        <div class="md-form mt-0">
          <input class="form-control mr-sm-2" type="search" MatInput placeholder="searchSuggest"
                 style="width: 320%; height: 30px; background-color: whitesmoke; color: black;"
                 [formControl]="searchInput" (change)="searchEntity()">
          <div *ngIf="searchSuggestions" class="searchBoxresults">
            <p *ngFor="let suggestion of searchSuggestions" class="suggestion_weergave">{{ suggestion.weergavenaam }}</p>
        </div>
       </div>
     </form>
   </div>

   <label for="track">
      track position
      <input id="track" type="checkbox"/>
    </label>

     <!-- <form class="form-inline waves-light" mdbWavesEffect><br><br>
      <div class="radio">
       <mat-radio-group aria-label="Select an option" class="radiobutton" >
            <mat-radio-button kendobutton value="landsgrens">landsgrens</mat-radio-button>
            <mat-radio-button value="gemeentegrens">gemeentegrens</mat-radio-button>
            <mat-radio-button value="provinciegrens">provinciegrens</mat-radio-button>
       </mat-radio-group>
      </div>
    </form> -->

  </div>
</div>
