@media only screen and (min-width: 600px)
{

.Geo
{
 margin-top: 60px;
 background: antiquewhite;
 padding: 0;
 margin-left: -20px;
 width: 216px;
 background-color: #8BC34A;
 display: list-item;
}
.mat-expansion-panel-body
{
padding: 0px;
}
.mat-expansion-panel:not([class*=mat-elevation-z])
{
 box-shadow: none;
}
ul
{
 display: contents;
}
mat-expansion-panel-header
{
 height: 0px;
}
.list
{
width: 75%;
}
h4
{
margin: 0px;
}
fieldset
{
color: black;
width: 50%;
}
.fieldsetcontent
{
color: black;
}
}
@media only screen and (min-width: 950px)
{
.Geo
{
width: 20%;
position: absolute;
margin-top: 60px;
margin-left: 15px;
left: 1%;
display: block;
top: 2%;
}

.mat-expansion-panel:not([class*=mat-elevation-z])
{
box-shadow: none;
}
ul
{
display: contents;
}
mat-expansion-panel-header
{
height: 0px;
}
.list
{
width: 75%;
}
h4
{
margin: 0px;
}
fieldset
{
color: black;
}
.fieldsetcontent
{
color: black;
/* margin-left: 16px; */
width: 50%;
}
.containerbottom
{
background-color: #8BC34A;
}

}


