<body>
 <div class="container">
  <div class="desktop">

   <br>

   <h1>Dekstop Version</h1><h2>Alpha 2.0.0.9</h2>

   <br>

   <div class="desktoptext">
   <h3>Release Note's</h3>
   <div>Alpha 2.0.0.9</div>

   <br>

   <h3>What's new?</h3>
   <div>New layout</div>

   <br>

   <h3>Bug Fixes</h3>
   <div>New layout</div>
   </div>

   <br><br>

   <div>
    <button kendoButton class="kendobutton"><a class="a" routerLink="/kaartviewer" routerLinkActive="active">Kaartviewer Desktop</a></button>
   </div>
 </div>

 <br><br>

 <div class="mobile">
  <h1>Mobile Version</h1><h2>Beta 1.0.0.1</h2>

  <br>

 <div class="desktoptext">
  <h3>Release Note's</h3>

  <br>

  <div>Alpha 2.0.0.9</div>

  <br>

  <h3>What's new?</h3>
  <div>New layout</div>

  <br>

  <h3>Bug Fixes</h3>
  <div>New layout</div>
 </div>

 <br><br>

  <div>
   <button kendoButton class="kendobutton"><a class="a" routerLink="/mobileviewer" routerLinkActive="active">Kaartviewer Mobile</a></button>
  </div>

  </div>
</div>
</body>





