<body>
 <div class="container">
  <div class="desktop">

   <br>

   <h1>Dekstop Version</h1><h2>Alpha 3.1.0.2  </h2>

   <br>

   <div class="desktoptext">
   <h3>Release Note's</h3>
   <div>Layout aangepast</div>
   <div>Nieuwe functies</div>
   <div>Nieuwe menu</div>

   <br>

   <h3>What's new?</h3>
   <div>
     <div>Teken tool om te meten</div>
     <p>Werkt bijna optimaal</p>
   </div>
   <div>Klik functie bij gewerkt</div>

   <br>

   <h3>Bug Fixes</h3>
   <div>New layout</div>
   </div>

   <br><br>

   <div>
    <button kendoButton class="kendobutton"><a class="a" routerLink="/kaartviewer" routerLinkActive="active">Kaartviewer Desktop</a></button>
   </div>
 </div>

 <br><br>

 <div class="mobile">
  <h1>Mobile Version (BETA)</h1><h2>Beta 1.0.0.1</h2>

  <br>

 <div class="desktoptext">
  <h3>Release Note's</h3>

  <br>

  <div>Nieuw Platform</div>
  <div>Nieuw Design</div>
  <div>Nieuwe Search en Menu bar</div>

  <br>

  <h3>What's new?</h3>
  <div>Bekijk je huidige locatie</div>

  <br>

  <h3>Bug Fixes</h3>
  <div>New layout</div>
 </div>

 <br><br>

  <div>
   <button kendoButton class="kendobutton"><a class="a" routerLink="/mobileviewer" routerLinkActive="active">Kaartviewer Mobile</a></button>
  </div>

  </div>
</div>
</body>





