<!-- <div #mytestje class="mytestje" id="mytestje" type="mytestje">

    <div #menu class="menu">
      <cdk-virtual-scroll-viewport class="example-viewport" itemSize="1">

        <button value="zoom_in"  class="buttonbutton">
          <i class="k-icon k-i-zoom-in" style="font-size: 10px;" style="color: black;" style="width:100%">
            <p>2</p>
          </i>
        </button>



        <button kendobutton value="zoom_out" class="buttonbutton"><i class="k-icon k-i-zoom-out" style="font-size: 10px;" style="color: black;"></i></button>
        <button kendobutton value="pencil"   class="buttonbutton"><i class="k-icon k-i-pencil" style="font-size: 10px;" style="color: black;"></i></button>
        <button kendobutton value="filter"   class="buttonbutton"><i class="k-icon k-i-filter" style="font-size: 10px;" style="color: black;"></i></button>
        <button kendobutton value="reset"    class="buttonbutton"><i class="k-icon k-i-reset" style="font-size: 10px;" style="color: black;"></i></button>
        <button kendobutton value="preview"  class="buttonbutton"><i class="k-icon k-i-preview" style="font-size: 10px;" style="color: black;"></i></button>
        <button kendobutton value="marker"   class="buttonbutton"><i class="k-icon k-i-marker-pin" style="font-size: 10px;" style="color: black;"></i></button>

          <mat-accordion>
              <mat-expansion-panel class="panel">
                  <mat-expansion-panel-header class="header">
                <mat-panel-title>Tekenen
                <i class="k-icon k-i-pencil" style="font-size: 10px;" style="color: black;" style="margin-left: 5px;"></i>
                </mat-panel-title>
              </mat-expansion-panel-header>
              <mat-panel-description>
                  <form class="form-inline">
                      <label>Tekenen &nbsp;</label>
                      <select id="type" [formControl]="typeSelectTekenen" (change)="switchMode()">
                        <option value="Point">Point</option>
                        <option value="LineString">LineString</option>
                        <option value="Polygon">Polygon</option>
                        <option value="Circle">Circle</option>
                        <option value="">None</option>
                      </select>
                    </form>
              </mat-panel-description>
            </mat-expansion-panel>
          </mat-accordion>
          <mat-accordion>
              <mat-expansion-panel class="panel">
                  <mat-expansion-panel-header class="header">
                <mat-panel-title>ToolBar</mat-panel-title>
              </mat-expansion-panel-header>
            </mat-expansion-panel>
          </mat-accordion>
          <mat-accordion>
              <mat-expansion-panel class="panel">
                  <mat-expansion-panel-header class="header">
              <mat-panel-title>ToolBar</mat-panel-title>
            </mat-expansion-panel-header>
          </mat-expansion-panel>
        </mat-accordion> -->

          <!-- <mat-accordion>  DIT IS HET BEGIN VAN DE ACCORDION VOOR ALLE LAGEN -->
           <!-- <mat-expansion-panel class="panel">
            <mat-expansion-panel-header class="header">
             <mat-panel-title>Lagen</mat-panel-title>
            </mat-expansion-panel-header>
           <mat-panel-description> -->
             <!-- DIT IS HET BEGIN VAN DE DROPDOWNMENU VOOR DE LAGEN -->
            <!-- <mat-accordion>
             <mat-expansion-panel class="panel1">
              <mat-expansion-panel-header class="header">
               <mat-panel-title class="paneltitleclass">Kaarten
                <i class="k-icon k-i-pencil" style="font-size: 10px;" style="color: black;"></i>
               </mat-panel-title>
              </mat-expansion-panel-header>
               <div class="paneldiv">
                <button kendoButton id="test" *ngFor="let layer of getLayerGroupKaart()"
                 (click)="layer.setVisible(!layer.getVisible())"
                 [primary]="layer.getVisible()">
                 {{layer.get('title')}}
                </button>
               </div>
             </mat-expansion-panel>
            </mat-accordion> -->
            <!-- DIT IS HET EINDE VAN DE DROPDOWNMENU VOOR DE LAGEN -->
           <!-- </mat-panel-description> -->
           <!-- <mat-panel-description> -->
              <!-- DIT IS HET BEGIN VAN DE DROPDOWNMENU VOOR DE LAGEN -->
             <!-- <mat-accordion>
              <mat-expansion-panel class="panel1">
               <mat-expansion-panel-header class="header">
                <mat-panel-title class="paneltitleclass">Grenzen
                 <i class="k-icon k-i-pencil" style="font-size: 10px;" style="color: black;"></i>
                </mat-panel-title>
               </mat-expansion-panel-header>
                <div class="paneldiv">
                 <button kendoButton id="test" *ngFor="let layer of getLayerGroupGrenzen()"
                  (click)="layer.setVisible(!layer.getVisible())"
                  [primary]="layer.getVisible()">
                  {{layer.get('title')}}
                 </button>
                </div>
              </mat-expansion-panel>
             </mat-accordion>
              DIT IS HET EINDE VAN DE DROPDOWNMENU VOOR DE LAGEN -->
            <!-- </mat-panel-description> -->
            <!-- <mat-panel-description> -->
                <!-- DIT IS HET BEGIN VAN DE DROPDOWNMENU VOOR DE LAGEN -->
               <!-- <mat-accordion>
                <mat-expansion-panel class="panel1">
                 <mat-expansion-panel-header class="header">
                  <mat-panel-title class="paneltitleclass">Spoorwegen
                   <i class="k-icon k-i-pencil" style="font-size: 10px;" style="color: black;"></i>
                  </mat-panel-title>
                 </mat-expansion-panel-header>
                  <div class="paneldiv">
                   <button kendoButton id="test" *ngFor="let layer of getLayerGroupSpoorwegen()"
                    (click)="layer.setVisible(!layer.getVisible())"
                    [primary]="layer.getVisible()">
                    {{layer.get('title')}}
                   </button>
                  </div>
                </mat-expansion-panel> -->
               <!-- </mat-accordion> -->
               <!-- DIT IS HET EINDE VAN DE DROPDOWNMENU VOOR DE LAGEN -->
              <!-- </mat-panel-description> -->
              <!-- <mat-panel-description> -->
                  <!-- DIT IS HET BEGIN VAN DE DROPDOWNMENU VOOR DE LAGEN -->
                 <!-- <mat-accordion>
                  <mat-expansion-panel class="panel1">
                   <mat-expansion-panel-header class="header">
                    <mat-panel-title class="paneltitleclass">Grenzen
                     <i class="k-icon k-i-pencil" style="font-size: 10px;" style="color: black;"></i>
                    </mat-panel-title>
                   </mat-expansion-panel-header>
                    <div class="paneldiv">
                     <button kendoButton id="test" *ngFor="let layer of getLayerGroupGrenzen()"
                      (click)="layer.setVisible(!layer.getVisible())"
                      [primary]="layer.getVisible()">
                      {{layer.get('title')}}
                     </button>
                    </div>
                  </mat-expansion-panel> -->
                 <!-- </mat-accordion> -->
                 <!-- DIT IS HET EINDE VAN DE DROPDOWNMENU VOOR DE LAGEN -->
                <!-- </mat-panel-description> -->
           <!-- </mat-expansion-panel> -->
          <!-- </mat-accordion>  DIT IS HET BEGIN VAN DE ACCORDION VOOR ALLE LAGEN -->
      <!-- </cdk-virtual-scroll-viewport>
     </div>
    </div> -->
