<div #searchmenu class="zoekbalk" style="width: 20%; z-index: 99; margin-left: 15px;">
  <div class="container-geocoder">
    <div class="geocodergeocoder"><geocoder class="geocoder" (placeFound)="onPlaceFound($event)" style="z-index: 99;"></geocoder></div>
  </div>
</div>

<div #layerControlElement class="option-menu"  style="display: contents;">
 <div #menu class="menu">
  <div class="deeerste2buttons" >
   <div class="test">
    <button (click)="select()" title="Select"><i class="material-icons" style="font-size: 10px;" style="color: black;">zoom_out_map</i></button>

   </div>

   <div class="test">
    <button (click)="transform()" title="Transform"><i class="material-icons" style="font-size: 10px;" style="color: black;">tab_unselected</i></button>
   </div>
  </div>

  <div class="de3buttons">
      <div class="test">
       <button (click)="show3 = !show3"><i class="material-icons" title="AchtergrondKaarten" style="font-size: 10px;" style="color: black;">map</i></button>
       <mat-accordion *ngIf="show3" class="driebuttons">
        <button kendoButton id="test" *ngFor="let layer of getKaartButton()" (click)="layer.setVisible(!layer.getVisible())" [primary]="layer.getVisible()">
        {{layer.get('title')}}
        </button>
       </mat-accordion>
      </div>

      <div class="test">
       <button (click)="show4 = !show4"><i class="material-icons" title="Layers" style="font-size: 10px;" style="color: black;">layers</i></button>
       <mat-accordion *ngIf="show4" class="driebuttons">
       <button kendoButton (click)="grenzenvisi = !grenzenvisi" style="background-color: white; border-bottom: black 2px solid;">Grenzen</button>
       <div *ngIf="grenzenvisi">
        <button kendoButton style="width: 100%;" id="test" *ngFor="let layer of getGrenzenButton()"
        (click)="layer.setVisible(!layer.getVisible())"
        [primary]="layer.getVisible()">
        {{layer.get('title')}}
        </button>
       </div>

       <button kendoButton (click)="bagvisi = !bagvisi" style="background-color: white; border-bottom: black 2px solid;">Bag</button>
       <div *ngIf="bagvisi">
        <button kendoButton style="width: 100%;" id="test" *ngFor="let layer of getBagButton()"
        (click)="layer.setVisible(!layer.getVisible())"
        [primary]="layer.getVisible()">
        {{layer.get('title')}}
        </button>
       </div>

       <button kendoButton (click)="dienstenvisi = !dienstenvisi" style="background-color: white; border-bottom: black 2px solid;">Diensten</button>
       <div *ngIf="dienstenvisi">
        <button kendoButton style="width: 100%;" id="test" *ngFor="let layer of getDienstenButton()"
        (click)="layer.setVisible(!layer.getVisible())"
        [primary]="layer.getVisible()">
        {{layer.get('title')}}
        </button>
       </div>

       <button kendoButton (click)="spoorvisi = !spoorvisi" style="background-color: white; border-bottom: black 2px solid;">Spoor</button>
       <div *ngIf="spoorvisi">
        <button kendoButton style="width: 100%;" id="test" *ngFor="let layer of getSpoorButton()"
        (click)="layer.setVisible(!layer.getVisible())"
        [primary]="layer.getVisible()">
        {{layer.get('title')}}
        </button>
       </div>
      </mat-accordion>
     </div>

      <div class="test">
          <button (click)="show5 = !show5" title="set visible off"><i class="material-icons" style="font-size: 10px;" style="color: black;">layers_clear</i></button>
          <mat-accordion *ngIf="show5" class="driebuttons">
          <button>SETVISIBILITY OF LAYERS</button>
          </mat-accordion>
         </div>
     </div>

     <div class="de5buttons" >
        <div class="test">
         <button (click)="show6 = !show6" title="Draw"><i class="material-icons" style="font-size: 10px;" style="color: black;">create</i></button>
         <mat-accordion *ngIf="show6" class="driebuttons">
            <form class="form-inline" style="background-color: white;">
                <label> &nbsp;</label>
                <select id="type" [formControl]="typeSelectTekenen" (change)="switchMode()">
                  <option value="Point" title="Point" id="Point">Point</option>
                  <option value="LineString" title="LineString" id="LineString">LineString</option>
                  <option value="Polygon" title="Polygon" id="3">Polygon</option>
                  <option value="Circle" title="Circle" id="4">Circle</option>
                  <option value="">None</option>
                </select>
              </form>
         </mat-accordion>
        </div>


        <div class="test">
          <button (click)="PopUp()"><i class="material-icons" title="Choose color" style="font-size: 10px;" style="color: black;">color_lens</i></button>
         </div>

        <!-- <div class="test">
         <button (click)="show7 = !show7"><i class="material-icons" title="Choose color" style="font-size: 10px;" style="color: black;">color_lens</i></button>
         <mat-accordion *ngIf="show7" class="driebuttons">
           <form class="form-inline"  style="background-color: white;">
              <label> &nbsp;</label>
            <select id="type" [formControl]="typeSelectStyle" (change)="styleswitch()">
             <option value="blue" title="Point" style="color: blue; background-color: blue;">blue</option>
             <option value="green" title="LineString" style="color: green; background-color: green;">green</option>
             <option value="red" title="Polygon" style="color: red; background-color: red;">red</option>
            </select>
           </form>
         </mat-accordion>
        </div> -->

        <div class="test">
          <button (click)="UndoButton()" title="Undo"><i class="material-icons" style="font-size: 10px;" style="color: black;">undo</i></button>
        </div>

        <div class="test">
          <button (click)="RedoButton()" title="Redo"><i class="material-icons" style="font-size: 10px;" style="color: black;">redo</i></button>
        </div>

        <div class="test" >
          <button (click)="SaveButton()" title="Saves the current document"><i class="material-icons" style="font-size: 10px;" style="color: black;">save</i></button>
        </div>

        <div class="test">
          <button (click)="zoom_in()" title="Zoom-in"><i class="material-icons" style="font-size: 10px;" style="color: black;">zoom_in</i></button>
        </div>

        <div class="test">
          <button (click)="zoom_out()" title="Zoom-out"><i class="material-icons" style="font-size: 10px;" style="color: black;">zoom_out</i></button>
        </div>

       <div class="test">
        <button (click)="show8 = !show8"><i class="material-icons" style="font-size: 10px;" style="color: black;">square_foot</i></button>
        <mat-accordion *ngIf="show8" class="driebuttons">
        <div>METEN</div>
        <div>km</div>
        </mat-accordion>
       </div>
       <div class="test">
          <button (click)="Info()" title="info"><a><i class="material-icons" style="font-size: 10px;" style="color: black;">info</i></a></button>
        </div>

      </div>
 </div><!-- EINDE MENU ELEMENT -->
</div><!-- EINDE LAYERCONTROL ELEMENT -->

<!-- <div>
    <select id="geom_type">
    <option value="LineString" selected>LineString</option>
    </select>
   </div> -->



