@media only screen and (min-width: 600px)
{
.zoekbalk
{
 position: absolute;
 width: 200px;
 z-index: 99;
 padding: 0px;
 margin: 0px;
}
}

@media only screen and (min-width: 950px)
{
.zoekbalk
{
 top: 2%;
 width: 20%;
 position: absolute;
 left: 2%;
}
}
.searchmenu {
  margin-left: 1227px;
  position: absolute;
  width: 20%;
}








