<div class="sidebar"></div>
<div class="header_header">
<nav class="nav">
  <button kendobutton (click)="onButtonClick()" class="kendobutton"><a class="a" routerLink="/index" routerLinkActive="active">Index</a></button>
  <button kendobutton (click)="onButtonClick()" class="kendobutton"><a class="a" routerLink="/loginform" routerLinkActive="active">Login-form</a></button><br>
  <button kendobutton (click)="onButtonClick()" class="kendobutton"><a class="a" routerLink="/map-view" routerLinkActive="active">Map-View</a></button><br>
  <button kendobutton (click)="onButtonClick()" class="kendobutton"><a class="a" routerLink="/sidebar"routerLinkActive="active">PDOKMAP</a></button><br>
  <button kendobutton (click)="onButtonClick()" class="kendobutton"><a class="a" routerLink="/lossekaart"routerLinkActive="active">LOSSEKAART</a></button><br>
</nav>
</div>

