<div class="sidebar">

</div>
<div class="header_header">
<nav class="nav">
  <button kendobutton (click)="onButtonClick()" class="kendobutton"><a class="a" routerLink="/loginpage" routerLinkActive="active">HOME</a></button>
  <button kendobutton (click)="onButtonClick()" class="kendobutton"><a class="a" routerLink="/registrationpage" routerLinkActive="active">Registration</a></button>
  <button kendobutton (click)="onButtonClick()" class="kendobutton"><a class="a" routerLink="/loginpage" routerLinkActive="active">LoginPage</a></button><br>
  <button kendobutton (click)="onButtonClick()" class="kendobutton"><a class="a" routerLink="/map-view" routerLinkActive="active">MAP</a></button><br>
  <button kendobutton (click)="onButtonClick()" class="kendobutton"><a class="a" routerLink="/map-view-open-street"routerLinkActive="active">MAP OPENSTREET</a></button><br>
  <button kendobutton (click)="onButtonClick()" class="kendobutton"><a class="a" routerLink="/map-view-bing"routerLinkActive="active">MAP BING</a></button><br>
  <button kendobutton (click)="onButtonClick()" class="kendobutton"><a class="a" routerLink="/sidebar"routerLinkActive="active">PDOKMAP</a></button><br>
  <button kendobutton (click)="onButtonClick()" class="kendobutton"><a class="a" routerLink="/sidebar-functions-draw"routerLinkActive="active">Function draw</a></button><br>
  <button kendobutton (click)="onButtonClick()" class="kendobutton"><a class="a" routerLink="/googlemaps"routerLinkActive="active">googlemaps</a></button><br>
  <!-- <a class="a" routerLink="/options"routerLinkActive="active">Options</a><br> -->
</nav>
</div>

